.btn{
    border: none;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    background-color: #0028ff;
    display: inline-block;

    &--black{
        background-color: #000;

        &:hover{
            opacity: .7;
        }
    }

    &--blue{
        
        &:hover{
            opacity: .7;
        }
    }

}

@media (min-width: 1440px){

    .btn{

        &--margin-blu{
            margin-top: 10px;
        }
        
        &--margin-blk{
            margin-top: inherit;
        }
    }

}

