.btn{
    border: none;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    background-color: #0028ff;
    display: inline-block;

    &--black{
        background-color: #000;
    }

    &--donate{
        text-align: left;
    }
}

.btn:hover{
    border: 3px solid #24ff19;
}