.container{
    width: 90%;
    margin: 0 auto;
}

// <----HEADER---->
.hero{
    margin-top: 70px;
    position: relative;

    &__img{
        object-fit: cover;
        height: 100vh;
        display: block;
        
    }

    &__img-overlay:after{
        content: "";
        background-color: #0026ff5d;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 50%;
    }

    &__heading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__h1{
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 1.2;
        font-family: "Oswald", Arial, sans-serif;
    }
    
}

// <----ABOUT---->
.about{

    &__items{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); //240px standard
    }

    &__item{
            padding: 2rem .5rem;
            height: 45vh;
    }
}


.charity{
    background: url(../../img/about.jpg) no-repeat;
    background-size: cover;
    background-position-x: -7rem;
    
    &__h1{
        font-size: 2.5rem;
        text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.377);
    }

    &__paragraph{
        color: #666;
        padding: 2.5rem 0;
        text-shadow: 2px 2px 5px rgba(102, 102, 102, 0.543);
        line-height: 1.35;
    }
}

.charity-2{
    background-color: #0028ff;

    &__h2{
        color: #fff;
        font-size: 2rem;
        font-weight: 600;

        span{
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__paragraph{
        color: #fff;
        padding: 2rem 0;
        line-height: 1.8;
    }
}

// <----SERVICES---->

.services{
    padding: 2rem;

    &__items{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    &__item{
        padding: 1rem 0;
        text-align: center;
    }
}

.item{

    &__icon{
        font-family: Flaticon;
        color: #0028ff;
        font-size: 3.75rem;

        &--1:before{
            content: "\f101";
        }
        &--2:before{
            content: "\f100";
        }
        &--3:before{
            content: "\f102";
        }
        &--4:before{
            content: "\f103";
        }
    }

    &__copy-h4{
        text-transform: uppercase;
        padding: 1rem 0;
        font-size: 1.4rem;
    }

    &__copy-p{
        color: #666;
    }
}

// <----DONATION---->

.donation{
    background-color: #f8f9fa;
    text-align: center;
    padding: 4rem 0;

    &__h2{
        color:#0028ff;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: .5rem;
    }

    &__h4{
        text-transform: uppercase;
        font-size: 1.75rem;
        font-family: "Oswald", Arial, sans-serif;
        font-weight: 700;
        line-height: 1.2;
    }

    &__p{
        padding: 1rem 0 2rem;
        color: #666;
    }

    &__bar{
        width: 100%;
        height: 50px;
        border-radius: 10px;
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
}


