.container{
    width: 90%;
    margin: 0 auto;
}



h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", Arial, sans-serif;
}

// <----HEADER---->

.nav{

    &__logo{

        &:after{
            content: "";
            border-bottom: 2px solid #fff;
            width: 73px;
            position: absolute;
            bottom: 24px;
            left: 40px;
        }
    }
}

.hero{
    margin-top: 70px;
    position: relative;

    &__img{
        object-fit: cover;
        height: 100vh;
        width: 100vw;
        display: block;
        
    }

    &__img-overlay:after{
        content: "";
        background-color: #0026ff5d;
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 50%;
    }

    &__heading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__h1{
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 700;
        letter-spacing: 5px;
        line-height: 1.2;
        font-family: "Oswald", Arial, sans-serif;
    }
    
}

// <----ABOUT---->
.about{

    &__item{
        height: 100%;

        &--1{
            background: url(../img/about.jpg) no-repeat;
            background-size: cover;
            background-position: top center;
            
        }

        &--2{
            background-color: #0028ff;

            span{
                color: rgba(255, 255, 255, 0.7);
            }
        }

    }

    &__item-content{
        padding: 2rem 1rem;
    }

    &__item-heading{

        &--1{
            text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.377);
            font-size: 2.5rem;
            margin-top: 16px;
        }

        &--2{
            color: #fff;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    &__item-text{
        padding: 1rem 0;

        &--1{
            text-shadow: 2px 2px 5px rgba(102, 102, 102, 0.543);
            color: #666;
            line-height: 1.35;
            margin-top: 24px;
        }

        &--2{
            color: #fff;
            padding: 1rem 0;
            line-height: 1.8;
        }
    }

}

// <----SERVICES---->

.services{

    &__item{
        padding: 3rem 0;
        text-align: center;
    }
}

.item{

    &__icon{
        font-family: Flaticon;
        color: #0028ff;
        font-size: 3.75rem;

        &--1:before{
            content: "\f101";
        }
        &--2:before{
            content: "\f100";
        }
        &--3:before{
            content: "\f102";
        }
        &--4:before{
            content: "\f103";
        }
    }

    &__copy-h4{
        text-transform: uppercase;
        padding: 1rem 0;
        font-size: 1.4rem;
    }

    &__copy-p{
        color: #666;
    }
}

// <----DONATION---->

.donation{
    background-color: #f8f9fa;
    padding: 4rem 0;

    &__content{
        text-align: center;
    }

    &__h2{
        color:#0028ff;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
        padding-bottom: .5rem;
    }

    &__h4{
        text-transform: uppercase;
        font-size: 1.75rem;
        font-family: "Oswald", Arial, sans-serif;
        font-weight: 700;
        line-height: 1.2;
    }

    &__p{
        padding: 1rem 0 2rem;
        color: #666;
    }

}

.donated{
    display: flex;
    align-items: center;
    padding: 1rem 0;

    &__h2{
        color: #0028ff;
        font-weight: 400;
        font-size: 2.5rem;
    }

    &__money{
        text-align: left;
    }

    &__p{
        margin-left: 20px;
        line-height: 1.5;

        &--1{
            margin-left: 10px;
        }

        &--2{
            margin-left: 50px;
        }
        
    }
}

    // <----VOLUNTEER---->

.volunteer{
    position: relative;
    height: 400px;
    background: url(../img/bg_3.jpg);
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 28vh;

    &:after{
        content: "";
        background-color: #0028ff;
        opacity: .5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__h2{
        text-transform: uppercase;
        font-size: 1.75rem;
        font-weight: 700;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        height: 28vh;
    }
}

// <----PRIORITIES---->

.priorities{
    text-align: center;
    padding: 4rem 0;
    color: #666;

    &__img{
        height: 300px;
    }

    &__h2{
        text-transform: uppercase;
        font-size: 1.75rem;
        color: #000;
    }

    &__p{
        padding: 2rem 0 3rem;
        line-height: 1.8;
    }

}

.item{

    &__h4{
        font-family: "Work Sans", Arial, sans-serif;
        font-weight: 500;
        margin-top: 1rem;
        font-size: 1.45rem;
        line-height: 1.5;
        color: #000;
    }

    &__p{
        padding: 1rem 0;
        line-height: 1.8;
        color: #666;
    }

    &__amount-left{
        
        span{
            color: #0028ff;
            font-weight: 600;
        }
    }

    &__row{
        text-align: left;
    }

    &__row-h2{
        font-family: "Work Sans", Arial, sans-serif;
        font-weight: 700;
        font-size: 44px;
        color: #0028ff;
    }

    &__row-p{
        padding: .5rem 0 1rem;
    }

    &__row-p-2{
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 1.5;
        color: #000;
        padding: 1rem 0;
    }
}

// <----COUNTER---->

.counter{
    background: url(../img/bg_2.jpg) no-repeat;
    width: 100%;
    height: 90vh;
    display: block;
    background-size: cover;
    background-position: center center;


    &__item{
        color: #fff;
        padding: 1rem 0;
    }

    &__item-h4{
        font-size: 3.1rem;
        font-weight: 700;
    }

    &__item-p{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .8rem;
        font-weight: 700;
    }
}

// <----BLOG---->

.blog{
    padding: 6rem 0;
    overflow: hidden;

    &__heading{
        text-align: center;
    }

    &__heading-h2{
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.2;
    }

    &__heading-p{
        color: #666;
        line-height: 1.75;
        padding: 1.5rem 0;
    }

    &__post{
        background-color: #f8f9fa ;
        margin: 1rem 0;
        padding: 1rem 1rem .5rem 1rem;
        
        

        &--1{
            padding: 0 0 .5rem 0;
        }

        &--flex{
            display: flex;
            align-items: center;
        }
    }

    &__post-link{

        &--2{
            background: url(../img/image_2.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100px;
            width: 130px;
        }

        &--3{
            background: url(../img/image_3.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100px;
            width: 130px;
        }

        &--4{
            background: url(../img/image_4.jpg) no-repeat;
            background-size: cover;
            background-position: center center;
            height: 100px;
            width: 130px;
        }

    }

    &__post-copy{
        margin-left: 10px;
        width: auto;
        line-height: 1.5;

        &--1{
            padding: 1rem;
        }
    }



    &__post-h4{
        font-weight: 500;
        font-size: 1.5rem;
        font-family: "Work Sans", Arial, sans-serif;
        margin-bottom: .2rem;
        color: #000;

    }

    &__post-p{
        color: #666;
        font-size: .9rem;

        span:after{
            content: "\e0b7";
            font-family: icomoon;
            color: #0028ff;
            margin-left: 5px;
            -moz-osx-font-smoothing: grayscale;
            font-size: 15px;
        }
    }

    &__bottom-h2{
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
        font-size: 2.5rem;
        font-family: "Work Sans", Arial, sans-serif;
        margin-top: 4rem;

        span{
            color: #0028ff;
            font-weight: 700;
        }
    }
}

.stories{
    background-color: #f8f9fa;
    padding: 3rem 0;

    &__heading{
        text-transform: uppercase;
        line-height: 1.2;
        font-size: 1.75rem;
    }
} 

.slide{

    &__text{
        color: #666;
        line-height: 1.8;
        font-size: 1.25rem;
    }

    &__author{
        display: flex;
        align-items: center;
        padding: 1.5rem 0 1rem;
    }

    &__author-img{
        width: 80px;
        border-radius: 50%;
    }

    &__author-text-box{
        margin-left: 10px;
    }

    &__author-name{
        color: #212020;
        font-family: "Work Sans", Arial, sans-serif;
        font-weight: 500;
        font-size: 1.25rem;
        margin-bottom: 5px;
    }

    &__author-work{
        color: #0028ff;
        text-transform: uppercase;
        font-weight: 600;
    }
}

// <----FOOTER---->

.footer{
    position: relative;
    background: url(../img/footer.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    padding: 7rem 0;

    &__overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        background: #0028ff;
        opacity: .8;
    }

    &__items{
        position: relative;
    }

    &__item-heading{
        padding: 2rem 0;
        font-family: "Work Sans", Arial, sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__item{
        position: relative;
        color: #fff;
    }

    &__list-item{
        padding: 1rem 0;
        position: relative;

        &--social{
            color: pink;
            display: inline-block;
            height: 50px;
            width: 50px;
            background-color:rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            margin: 2rem 1rem 1rem 0;
            padding: 0;
            position: relative;
        }

        &--faq{
            display: flex;
            align-items: flex-start;
        }
    }

    &__list-links{
        color: rgb(218, 218, 218);
    }
    

    &__list-icon{
        color: #fff;
        font-size: 1.2rem;
        
        
        &--social{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
            font-size: 1.5rem;
        }

        &--twitter:before{
            content: "\f099";
            font-family: 'icomoon';
        }

        &--fb:before{
            content: "\f09a";
            font-family: 'icomoon';
        }

        &--insta:before{
            content: "\f16d";
            font-family: 'icomoon';
        }

        &--location:before{
            content: "\f041";
            font-family: 'icomoon';
            margin-right: 28px;
        }

        &--phone:before{
            content: "\f16d";
            font-family: 'icomoon';
            margin-right: 22px;
        }

        &--email:before{
            content: "\f0e0";
            font-family: 'icomoon';
            margin-right: 16px;
        }
    }

    &__copyright{
        color: rgb(218, 218, 218);
        text-align: center;
        margin-top: 3rem;
        position: relative;
    }

}

@media (min-width: 1440px){
    .container{
        width: 75%;

        &--about{
            width: 100%;
        }
    }

    .nav{

        &__logo{
            position: relative;

            &:after{
                bottom: 1px;
                left: 24px;
            }
        }
    }

    .about{

        &__item-content{
            margin: 2rem 1rem;

            &--1{
                width: 50%;
                float: right;
            }
        }

    }


    .item{

        &__row{
            position: relative;

            &--2{
                width: 60%;

                &:before{
                    content: "";
                    border: 1px solid rgba(102, 102, 102, 0.1);
                    position: absolute;
                    top: 25px;
                    left: -50px;
                    height: 75%;
                }
            }
        }
    }

    .counter{
        height: 35vh;
    
        &__items{
            height: 35vh;
        }
    }

    .blog{
        &__post{
            margin: .5rem 0;
            padding: 0 1rem;
        }

        &__post-copy{
    
            &--1{
                padding: 1rem;
                width: auto;
            }
        }

        &__post-link{

            &--2{
                height: 120px;
                width: 160px;
            }
    
            &--3{
                height: 120px;
                width: 160px;
            }
    
            &--4{
                height: 120px;
                width: 160px;
            }
    
        }

        &__bottom{
            padding: 0 2rem;
        }
    }

    .stories{
        padding: unset;

        &__item{

            &--1{
                background-image: url(../img/testimony-img.jpg);
                display: block;
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
            }

            &--2{
                padding: 6rem 2rem;
                display: flex;
                flex-direction: column;
                }
        }
        
        

        
    }
}

@media (min-width: 760px){
    .container{

        &--about{
            width: 100%;
        }

        &--priorities{
            width: 65%;
        }

        &--counter{
            width: 50%;
        }

        &--blog{
            width: 98%;
        }
    }

    .stories__item--1{
        display: none;
    }
}